# Core Database Connection (Use SQLite or PostgreSQL)
# SQLite example: sqlite:///./inventory.db
# PostgreSQL example: postgresql://username:password@hostname:port/database_name
DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory

# Running Environment (development or production)
ENVIRONMENT=development
